<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Flexcards</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='favicon/favicon.ico') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static',filename= 'favicon/site.webmanifest') }}">
{#    <meta name="msapplication-TileColor" content="#da532c">#}
{#    <meta name="theme-color" content="#ffffff">#}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home.home') }}">
            <img src="{{ url_for('static',filename='favicon/favicon-32x32.png') }}">
             Flexcards</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if current_user.is_authenticated %}
                    <li class="nav item">
                        <a class="nav-item nav-link" href="{{ url_for('home.create_set') }}">Create</a>
                    </li>
                    <li class="nav item">
                        <a class="nav-item nav-link" href="{{ url_for('home.my_sets') }}">My Sets</a>
                    </li>
                {% endif %}
                <li class="nav item">
                    <a class="nav-item nav-link" href="{{ url_for('home.public_sets') }}">Public Sets</a>
                </li>
            </ul>

            <img src="https://image.flaticon.com/icons/svg/25/25231.svg" style="height:1.5em" onclick="window.open('https://github.com/Aphexis/multi-sided-flashcards/')" class="mr-3">
            <svg class="bi bi-info-circle-fill mr-3" data-toggle="modal" data-target="#siteModal" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 16A8 8 0 108 0a8 8 0 000 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
            </svg>
                {% if current_user.is_authenticated %}
                    <span class="dropdown show dropleft">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ current_user.name }}
                      </a>

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="{{ url_for('home.profile', user_id=current_user.id, username=current_user.name) }}">My Profile</a>
                          <a class="dropdown-item" href="{{ url_for('auth.settings') }}">Settings</a>
                        <a class="dropdown-item" href="/logout">Log out</a>
                      </div>
                    </span>
                {% else %}
                    <a class="navbar-text text-right" href="{{ url_for('auth.signup') }}">Sign up</a>
                {% endif %}
        </div>
    </nav>
    <div class="container" id="baseContainer">
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
          {% if messages %}
            <div class=flashes>
            {% for message in messages %}
              <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
          {% if messages %}
            <div class=flashes>
            {% for message in messages %}
              <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>

{#    Site Modal #}
    <div class="modal fade" id="siteModal" tabindex="-1" role="dialog" aria-labelledby="siteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="siteModalLabel">
                        Flexcards: {% block modalTitle %}{% endblock %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% block modalContent %}{% endblock %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
