<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Multi-sided Flashcards</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='favicon/favicon.ico') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename=' favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static',filename= 'favicon/site.webmanifest') }}">
{#    <meta name="msapplication-TileColor" content="#da532c">#}
{#    <meta name="theme-color" content="#ffffff">#}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home.home') }}">
            <img src="{{ url_for('static',filename='favicon/favicon-32x32.png') }}">
             Flashcards</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {#<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> #}
                <li class="nav item">
                    <a class="nav-item nav-link" href="{{ url_for('home.create_set') }}">Create</a>
                </li>
            </ul>
{#                <button type="button" class="btn btn-primary">Create</button>#}
{#                <a class="nav-item nav-link" href="#">Other Options?</a>#}
                {% if current_user.is_authenticated %}
                    <span class="dropdown show">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ current_user.name }}
                      </a>

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/logout">Log out</a>
                      </div>
                    </span>
                {% else %}
                    <a class="navbar-text text-right" href="{{ url_for('auth.signup') }}">Sign up!</a>
                {% endif %}
        </div>
    </nav>
    <div class="container" id="baseContainer">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class=flashes>
            {% for message in messages %}
              <p class="text-danger">{{ message }}</p>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>