{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/create.css') }}">
    <script type="text/javascript" src="../static/javascript/create.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
{% endblock %}
{% block body %}
    <h1>Create a set</h1>
    <form method="POST">
        <div class="form-group">
            <label for="name">Set Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" maxlength="255" required>
        </div>
        <div class="form-group">
            <label for="description">Set Description</label>
            <input type="description" class="form-control" id="description" name="description"
                   placeholder="Description" maxlength="500" required>
        </div>
        <div class="form-group text-right">
            <input type="checkbox" class="form-control" id="public" name="public" checked data-toggle="toggle" data-on="Public" data-off="Private" data-onstyle="secondary" data-offstyle="light">
        </div>
        <div class="form-group">
            <label for="cell[0][0]">Card Information</label>
            <table id="setTable">
                <tbody id="tbody">
                <tr>
                    <th class="tg-0lax"></th>
                    <th class="onHover">
                        <svg class="bi bi-dash-circle-fill hidden" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="lightsteelblue" xmlns="http://www.w3.org/2000/svg"
                            id="removeCol[0]" onclick="removeCol('setTable', 0)">
                          <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM4 7.5a.5.5 0 000 1h8a.5.5 0 000-1H4z" clip-rule="evenodd"/>
                        </svg>
                    </th>
                    <th class="onHover">
                        <svg class="bi bi-dash-circle-fill hidden" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="lightsteelblue" xmlns="http://www.w3.org/2000/svg"
                            id="removeCol[1]" onclick="removeCol('setTable', 1)">
                          <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM4 7.5a.5.5 0 000 1h8a.5.5 0 000-1H4z" clip-rule="evenodd"/>
                        </svg>
                    </th>
                </tr>
                <tr>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"><input class="form-control" name="cell[0][0]" placeholder="Side 1 Name"
                                               maxlength="255" required></th>
                    <th class="tg-0lax"><input class="form-control" name="cell[0][1]" placeholder="Side 2 Name"
                                               maxlength="255" required></th>
                    <th class="tg-0lax">
                        <svg class="bi bi-plus-circle-fill" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="lightsteelblue" xmlns="http://www.w3.org/2000/svg"
                             id="insertCol" onclick="addCol('setTable')">
                          <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z" clip-rule="evenodd"/>
                        </svg>
                    </th>
                </tr>
                <tr>
                    <td class="onHover">
                        <svg class="bi bi-dash-circle-fill hidden" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="lightsteelblue" xmlns="http://www.w3.org/2000/svg"
                            id="removeRow[1]" onclick="removeRow('setTable', 2)">
                          <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM4 7.5a.5.5 0 000 1h8a.5.5 0 000-1H4z" clip-rule="evenodd"/>
                        </svg>
                    </td>
                    <td class="tg-0lax"><input class="form-control" name="cell[1][0]" maxlength="1000"></td>
                    <td class="tg-0lax"><input class="form-control" name="cell[1][1]" maxlength="1000"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr><td>
                    <svg class="bi bi-plus-circle-fill" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="lightsteelblue" xmlns="http://www.w3.org/2000/svg"
                         id="insertRow" onclick="addRow('setTable')">
                      <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z" clip-rule="evenodd"/>
                    </svg>
                </td></tr>
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

{% block modalTitle %}Create a Set{% endblock %}
{% block modalContent %}
    <p>Welcome to set creation! 🎉</p>
    <p>Public sets are viewable by anyone, while private sets can only be seen by you.
        Regardless of whether a set is public or private, only you can edit and delete it.</p>
    <p>You can play around with adding or removing sides and cards - these are flexible flashcards!</p>
{% endblock %}