{% extends "base.html" %}
{% block body %}
    <script type="text/javascript" src="../static/javascript/create.js"></script>
    <h1>Create a set</h1>
    <form method="POST">
        <div class="form-group">
            <label for="name">Set Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="description">Set Description</label>
            <input type="description" class="form-control" id="description" name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <label for="cell[0][0]">Card Information</label>
            <table id="setTable">
                <tbody id="tbody">
                <tr>
                    <th class="tg-0lax"><input class="form-control" name="cell[1][1]" placeholder="Side 1 Name"></th>
                    <th class="tg-0lax"><input class="form-control" name="cell[1][2]" placeholder="Side 2 Name"></th>
                    <th class="tg-0lax"><input class="form-control" name="cell[1][3]" placeholder="Side 3 Name"></th>
                    <th class="tg-0lax"><button type="button" id="insertCol" onclick="addCol('setTable')">+</button></th>
                </tr>
                <tr>
                    <td class="tg-0lax"><input class="form-control" name="cell[2][1]" placeholder="cell[2][1]"></td>
                    <td class="tg-0lax"><input class="form-control" name="cell[2][2]" placeholder="cell[2][2]"></td>
                    <td class="tg-0lax"><input class="form-control" name="cell[2][3]" placeholder="cell[2][3]"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr><td><button type="button" id="insertRow" onclick="addRow('setTable')">+</button></td></tr>
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


{% endblock %}