{% extends "base.html" %}

{% block head %}
    {{super()}}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
{% endblock %}

{% block body %}
    {% from 'set-card.html' import card %}
    {% if current_user.is_authenticated %}
        <div class="title-text"><h1>My Sets</h1></div>
        {% if private_sets %}
            <div class="card-deck">
                {% set length = 3 if private_sets|length>3 else private_sets|length %}
                {% for i in range(length) %}
                    {{ card(private_sets[i], current_user) }}
                {% endfor %}
            </div>
            {% if private_sets|length>3 %}
                <a href="{{ url_for('home.my_sets') }}"><p class="text-right mr-3 mt-1">see all</p></a>
            {% endif %}
        {% else %}
            <p class="ml-4">No sets yet! <a href="{{ url_for('home.create_set') }}">Create one?</a></p>
        {% endif %}
    {% endif %}
    <br>
    <div class="title-text"><h1>Public Sets</h1></div>
    {% set length = 6 if public_sets|length>6 else public_sets|length %}
        <div class="card-deck">
            {% for i in range(length) %}
                {{ card(public_sets[i], users[public_sets[i].user]) }}
            {% endfor %}
        </div>
    {% if public_sets|length>6 %}
        <a href="{{ url_for('home.public_sets') }}"><p class="text-right mr-3 mt-1">see all</p></a>
    {% endif %}
{% endblock %}

{% block modalTitle %}Home{% endblock %}
{% block modalContent %}
    <p>Welcome to the Flexcards homepage! 🗃</p>
    <p>Flexcards is a web app for creating and studying multi-sided flashcards.
        Here, you can view the most recently created sets.</p>
    <p>Try clicking a set to view it, or click the creator of a set to view their profile!
        If you're logged in, you can also use the options in the navbar above to create a set or view more sets.</p>
{% endblock %}