{% extends "base.html" %}

{% block head %}
    {{super()}}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
{% endblock %}

{% block body %}
    {% if current_user.is_authenticated %}
        <div class="title-text"><h1>Your Sets</h1></div>
        <div class="card-deck">
            {% for set in private_sets %}
                <div class="col-md-4 mt-3">
                    <div class="card d shadow-sm">
                        <div class="card-body">
                            <h4 class="card-title">{{ set.name }}</h4>
                            <hr>
                            <h6 class="card-subtitle mb-2 text-muted">{{ set.num_cards() }} cards, {{ set.num_sides() }} sides</h6>
                            <p class="card-text">{{ set.description }}</p>
                            <a href= "{{url_for('set.set', set_id=set.id_num)}}" class="invisible_link stretched-link"></a>
                        </div>
                        <a href="{{ url_for('home.profile', user_id=set.user, username=users[set.user].name) }}" class="invisible_link" style="z-index: 5000; position: relative">
                        <div class="card-footer text-muted">
                            <img src="{{ users[set.user].avatar }}" style="width:10%"><h6 class="ml-2" style="display: inline-block">{{ users[set.user].name }}</h6>
                        </div></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <br>
    <div class="title-text"><h1>Public Sets</h1></div>
        <div class="card-deck">
            {% for set in public_sets %}
                <div class="col-md-4 mt-3">
                    <div class="card d shadow-sm">
                        <div class="card-body">
                            <h4 class="card-title">{{ set.name }}</h4>
                            <hr>
                            <h6 class="card-subtitle mb-2 text-muted">{{ set.num_cards() }} cards, {{ set.num_sides() }} sides</h6>
{#                            <h6 class="card-subtitle mb-2 text-muted float-right">{{ set.username }}</h6>#}
                            <p class="card-text">{{ set.description }}</p>
                            <a href= "{{url_for('set.set', set_id=set.id_num)}}" class="invisible_link stretched-link"></a>
{#                            <h6 class="card-text text-right"><small>Creator: {{ set.username }}</small></h6>#}
                        </div>
                        <a href="{{ url_for('home.profile', user_id=set.user, username=users[set.user].name) }}" class="invisible_link" style="z-index: 5000; position: relative">
                        <div class="card-footer text-muted">
                            <img src="{{ users[set.user].avatar }}" style="width:10%"><h6 class="ml-2" style="display: inline-block">{{ users[set.user].name }}</h6>
                        </div></a>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}