{% extends 'base.html' %}
{% block head %}
    {{super()}}
{% endblock %}

{% block body %}
    <br>
    <div class="row">
        <div class="col-2">
            <img src="{{ user.avatar }}" style="width:100%">
        </div>
        <div class="col my-auto">
            <h1>{{ user.name }}</h1>
            {% if user.bio %}
                <h6><i>{{ user.bio }}</i></h6>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="title-text"><h3>Created Sets</h3></div>
        <div class="card-deck mb-3">
            {% for set in sets %}
                <div class="col-md-4 mt-3">
                    <div class="card d shadow-sm">
                        <div class="card-body">
                            <h4 class="card-title">{{ set.name }}</h4>
                            <hr>
                            <h6 class="card-subtitle mb-2 text-muted">{{ set.num_cards() }} cards, {{ set.num_sides() }} sides</h6>
{#                            <h6 class="card-subtitle mb-2 text-muted float-right">{{ set.username }}</h6>#}
                            <p class="card-text">{{ set.description }}</p>
                            <a href= "{{url_for('set.set', set_id=set.id_num)}}" class="stretched-link"></a>
{#                            <h6 class="card-text text-right"><small>Creator: {{ set.username }}</small></h6>#}
                        </div>
                        <a href="{{ url_for('home.profile', user_id=user.id, username=user.name) }}" class="invisible_link" style="z-index: 5000; position: relative">
                        <div class="card-footer text-muted">
                            <img src="{{ user.avatar }}" style="width:10%"><h6 class="ml-2" style="display: inline-block">{{ user.name }}</h6>
                        </div></a>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}