{% macro card(set, user) %}
<div class="col-md-4 mt-3">
    <div class="card d shadow-sm">
        <div class="card-body">
            <h4 class="card-title">{{ set.name }}</h4>
            <a href= "{{url_for('set.set', set_id=set.id_num)}}" class="stretched-link"><hr></a>
            <h6 class="card-subtitle mb-2 text-muted">{{ set.num_cards() }} cards, {{ set.num_sides() }} sides</h6>
            <p class="card-text">{{ set.description }}</p>
        </div>
        <a href="{{ url_for('home.profile', username=user.name) }}" style="z-index: 2; position: relative">
        <div class="card-footer text-muted">
            <img src="{{ url_for('static', filename=user.avatar) }}" style="width:10%"><h6 class="ml-2" style="display: inline-block">{{ user.name }}</h6>
        </div></a>
    </div>
</div>
{% endmacro %}