{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/set-study.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/set-study.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div>
                <a href="{{url_for('set.set',set_id=set.id_num)}}"><button type="button" class="btn btn-secondary">Exit</button></a>
            </div>
            <div class="float-right">
                <button type="button" class="btn btn-light">Shuffle</button>
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#infoModal">
                    <svg class="bi bi-question-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" clip-rule="evenodd"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-light">
                    <svg class="bi bi-gear-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 01-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 01.872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 012.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 012.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 01.872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 01-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 01-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 100-5.86 2.929 2.929 0 000 5.858z" clip-rule="evenodd"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="container" id="body">
        <div class="row align-items-center">
            {#            <div class="col-sm">#}
            <button type="button" class="btn btn-light" id="prevCard">
                <svg class="bi bi-caret-left-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 00-1.659-.753l-5.48 4.796a1 1 0 000 1.506z"/>
                </svg>
            </button>
            {#            </div>#}
            {#            <div class="col-lg-8">#}
            <div class="middle-col">
{#                <div>#}
                <h6 class="mb-4 text-muted">
                    <span class="float-left">Next: Next Side</span>
                    <span class="float-right">Side #/#</span>
                </h6>
{#                </div>#}
                <div class="card align-center shadow-sm">
                    <div class="card-header text-center">click to go to previous side</div>
                    <div class="card-body">
                        <h5 class="card-title text-muted">Current Side Name</h5>
                        <hr>
{#                        <h6 class="card-subtitle mb-2 text-muted">Next Side: ____ || Side #/#</h6>#}
                        <p class="card-text">the actual content of the card, which maybe should be a bit bigger</p>
                    </div>
                    <div class="card-footer text-center">click to go to next side</div>
                </div>
            </div>
            {#            </div>#}
            {#            <div class="col-sm text-right">#}
            <button type="button" class="btn btn-light" id="nextCard">
                <svg class="bi bi-caret-right-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                </svg>
            </button>
            {#            </div>#}
        </div>
    </div>
    <div class="progress position-relative">
      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    {#    Info Modal #}
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Keyboard Shortcuts & Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    These are keyboard shortcuts! They both do not exist and do not work yet, coming soon!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}