{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static',filename='javascript/set.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-8">
            <h1>{{set.name}}</h1>
        </div>
        <div class="col-sm text-right">
            {% if view_only %}
                <a href="{{url_for('set.study',set_id=set.id_num)}}"><button type="button" class="btn btn-primary">Study</button></a>
            {% else %}
                <a href="{{url_for('set.edit',set_id=set.id_num)}}"><button type="button" class="btn btn-primary">Edit</button></a>
                <a href="{{url_for('set.study',set_id=set.id_num)}}"><button type="button" class="btn btn-primary">Study</button></a>
                <button type="button" class="btn btn-danger" onclick="delete_set('{{ view_only }}')")>Delete</button>
            {% endif %}
        </div>
    </div>
    <div>
       <h5 class="float-left">{{ set.description }}</h5>
       <h6 class="float-right">Creator: {{ user.name }}</h6>
    </div>
    <table class="table">
        <thead>
            <tr>
            {% for side in set.get_side_names() %}
                <th>{{side}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in range(set.num_cards()) %}
                <tr>
                    {% for column in set_info[i] %}
                        <td>{{column}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modalTitle %}View Set{% endblock %}
{% block modalContent %}
    <p>In this view, you can see a quick overview of a set.</p>
    <p>From here, you can study the set. If you own it, you can also edit or delete it.</p>
{% endblock %}
